
<div class="container">
<div class="list-group professores">
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profArquiteto.jpeg" alt=""> Cras justo odio</a>
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profCiencia.jpeg" alt="">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profDireito.jpeg" alt="">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profEngenharia.jpeg" alt="">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profGastronomia.jpeg" alt="">Vestibulum at eros</a>
    <a href="#" class="list-group-item list-group-item-action"><img src="/assets/imgs/profVeterinaria.jpeg" alt="">Vestibulum at eros</a>

</div>
</div>