<main role="main">
  
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Bem vindo a nossa faculdade!</h1>
        <p class="lead text-muted">Nossa faculdade é totalmente focada na sua evolução pessoal e profissional dos alunos. Venha conhecer!</p>
      </div>
    </section>

      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/assets/imgs/ciencias.jpg">
              <div class="card-body">
                <div class="text-black"><strong>Ciência da Computação</strong> </div>

                <p class="card-text">Formamos profissionais qualificados para desenvolver programas e sistemas de informática desde o planejamento do projeto até a implantação e gerenciamento do software.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/imgs/arquitetura.png"  style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <div class="text-black"><strong>arquitetura</strong> </div>
                <p class="card-text">Nosso curso de arquitetura está disponibiliza o estudo para projetar edifícios, aplicamos ciência e arte. Sua duração é de 5 anos.</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"  src="/assets/imgs/biotecnologia.png"  style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <div class="text-black"><strong>Biotecnologia</strong> </div>
                <p class="card-text">Nossos universitários estudam sobre as tecnologias da saúde, alimentação, química e ambiental. Sua duração é de 4 anos, nesse período nossos alunos utilizarão das melhores tecnologias.</p>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"  src="/assets/imgs/engenharia.jpg"  style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <div class="text-black"><strong>Engenharia Civíl</strong> </div>
                <p class="card-text">Esta graduação forma profissionais capazes de planejar, projetar, gerenciar e executar obras e construções civis e urbanas tais como pontes, barragens, aeroportos e muito mais.</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"  src="/assets/imgs/gastronomia.png"  style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <div class="text-black"><strong>Gastronomia</strong> </div>
                <p class="card-text">Vocês irão aprender sobre gestão, segurança alimentar, processos industriais, valor nutricional e características dos alimentos, legislação relacionada à indústria alimentícia e muito mais.</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"  src="/assets/imgs/veterinaria.jpg"  style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <div class="text-black"><strong>Veterinária</strong> </div>
                <p class="card-text">O curso de Veterinária, ciência que estuda a prevenção e tratamento das doenças dos animais, O curso de Medicina Veterinária dura em média 5 anos.</p>

              </div>
            </div>
          </div>

        </div>
      </div>

  </main>
